<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Blog</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <img src="https://www.pinclipart.com/picdir/big/194-1949079_free-blogger-logo-psd-transparent-blogspot-logo-png.png" alt="" class="img" height="50px" , width="50px" srcset="">
  <main>
    <h1>Create a New Blog Post</h1>
    <form action="/create" method="POST" class="form">
      <label for="title">Title:</label>
      <input type="text" id="title" class="title" name="title" required>
      <br>
      <label for="content">Content:</label>
      <textarea id="content" name="content" class="content" rows="20" cols="70" required></textarea>
      <br>
      <button type="submit">Create</button>
    </form>
    <a href="/" class="btn">Back to Home</a>
  </main>
  <footer>
 
    <p>Copyright © 2025</p>
  </footer>
</body>

</html>
