<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
   <a href="/views/home.ejs"> <img src="https://www.pinclipart.com/picdir/big/194-1949079_free-blogger-logo-psd-transparent-blogspot-logo-png.png" alt="" class="img" height="50px" , width="50px" srcset=""> </a>
    <main>
        
    <h1>Welcome to Blogger</h1>
    <div class="container"></div>
    <ul>
        <li><a href="/create"><button class="create">Create</button></a></li>
        <!-- <li><a href="/update"><button>Update</button></a></li> -->
        <li><a href="/view"><button class="create">View</button></a></li>
    </ul>
</div>
</main>
<footer>
 
    <p>Copyright © 2025</p>
  </footer>
</body>
</html>
